/*Main containers*/
html, body {
    margin: 0;
    padding: 0;
}
#grid-container {
    display:grid;
    grid-template-columns:1fr 4fr;
    width: 100vw;
    height: 100vh
}

#grid-container > div{
    background:#eee;
    padding:1em;
}
#grid-container > div:nth-child(odd){
    background:#ddd;
    
}

#stream-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    
}


#settings-panel {
    display: grid;
    justify-content: center;
}

/*Settings panel buttons*/

#start {
    display: flex;
    justify-content: center;
}

#startbtn {
    background-color: #4d5061; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    align-self: center;
    width: 6em;
    margin: auto auto 1.5em auto;
  }

  #startbtn:hover {
      background-color: #32df37;
  }

  /*Settings panel dropdown*/
  select {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    font-size: 1rem;
    /*padding: 1em 1em;*/
    background: #4d5061;
    color: white;
    border: none;
    width: 6em;
    margin: 1.5em auto auto auto;
  }

  #dropdown {
    display: flex;
    justify-content: center;
  }
